@import 'tailwindcss';
/*
  ---break---
*/
@plugin 'tailwindcss-animate';
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-urbanist), sans-serif;
  --font-title: var(--font-righteous), serif;

  --color-text-50: oklch(96.27% 0.012 59.57);
  --color-text-100: oklch(92.76% 0.023 61.22);
  --color-text-200: oklch(85.38% 0.049 58.92);
  --color-text-300: oklch(78.16% 0.074 58.87);
  --color-text-400: oklch(71.05% 0.099 58.07);
  --color-text-500: oklch(63.95% 0.123 55.32);
  --color-text-600: oklch(54.56% 0.102 56.09);
  --color-text-700: oklch(44.55% 0.082 56.06);
  --color-text-800: oklch(33.94% 0.059 55.92);
  --color-text-900: oklch(22.53% 0.032 58.83);
  --color-text-950: oklch(16.31% 0.019 60.45);

  --color-background-50: oklch(96.64% 0.010 72.66);
  --color-background-100: oklch(93.43% 0.021 79.09);
  --color-background-200: oklch(86.82% 0.042 78.93);
  --color-background-300: oklch(79.98% 0.063 77.09);
  --color-background-400: oklch(73.33% 0.084 76.74);
  --color-background-500: oklch(66.73% 0.103 75.45);
  --color-background-600: oklch(56.72% 0.086 75.35);
  --color-background-700: oklch(46.24% 0.068 75.16);
  --color-background-800: oklch(35.37% 0.049 77.09);
  --color-background-900: oklch(23.32% 0.028 77.76);
  --color-background-950: oklch(16.63% 0.016 82.24);

  --color-primary-50: oklch(96.31% 0.007 67.74);
  --color-primary-100: oklch(92.68% 0.015 64.33);
  --color-primary-200: oklch(85.26% 0.030 64.08);
  --color-primary-300: oklch(77.75% 0.046 63.72);
  --color-primary-400: oklch(70.15% 0.062 63.18);
  --color-primary-500: oklch(62.50% 0.079 62.25);
  --color-primary-600: oklch(53.24% 0.066 62.33);
  --color-primary-700: oklch(43.56% 0.052 62.45);
  --color-primary-800: oklch(33.31% 0.037 62.66);
  --color-primary-900: oklch(22.19% 0.021 63.09);
  --color-primary-950: oklch(15.98% 0.011 52.92);

  --color-secondary-50: oklch(96.39% 0.008 61.45);
  --color-secondary-100: oklch(92.68% 0.015 64.33);
  --color-secondary-200: oklch(85.26% 0.030 64.08);
  --color-secondary-300: oklch(77.82% 0.047 63.81);
  --color-secondary-400: oklch(70.23% 0.064 63.23);
  --color-secondary-500: oklch(62.59% 0.080 62.25);
  --color-secondary-600: oklch(53.34% 0.067 62.33);
  --color-secondary-700: oklch(43.67% 0.054 62.46);
  --color-secondary-800: oklch(33.31% 0.037 62.66);
  --color-secondary-900: oklch(22.19% 0.021 63.09);
  --color-secondary-950: oklch(15.94% 0.012 61.35);

  --color-accent-50: oklch(96.41% 0.010 67.70);
  --color-accent-100: oklch(92.84% 0.020 65.13);
  --color-accent-200: oklch(85.50% 0.042 62.47);
  --color-accent-300: oklch(78.28% 0.063 62.67);
  --color-accent-400: oklch(71.15% 0.086 62.18);
  --color-accent-500: oklch(64.03% 0.107 60.67);
  --color-accent-600: oklch(54.51% 0.090 60.57);
  --color-accent-700: oklch(44.43% 0.070 60.44);
  --color-accent-800: oklch(33.87% 0.051 60.04);
  --color-accent-900: oklch(22.53% 0.027 63.22);
  --color-accent-950: oklch(16.20% 0.016 58.52);

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root { 
    font-family: 'Lexend', sans-serif; 
    --background: oklch(1 0 0); 
    --foreground: oklch(0.145 0 0); 
    --card: oklch(1 0 0); 
    --card-foreground: oklch(0.145 0 0); 
    --popover: oklch(1 0 0); 
    --popover-foreground: oklch(0.145 0 0); 
    --primary: oklch(0.205 0 0); 
    --primary-foreground: oklch(0.985 0 0); 
    --secondary: oklch(0.97 0 0); 
    --secondary-foreground: oklch(0.205 0 0); 
    --muted: oklch(0.97 0 0); 
    --muted-foreground: oklch(0.556 0 0); 
    --accent: oklch(0.97 0 0); 
    --accent-foreground: oklch(0.205 0 0); 
    --destructive: oklch(0.577 0.245 27.325); 
    --destructive-foreground: oklch(0.577 0.245 27.325); 
    --border: oklch(0.922 0 0); 
    --input: oklch(0.922 0 0); 
    --ring: oklch(0.87 0 0); 
    --chart-1: oklch(0.646 0.222 41.116); 
    --chart-2: oklch(0.6 0.118 184.704); 
    --chart-3: oklch(0.398 0.07 227.392); 
    --chart-4: oklch(0.828 0.189 84.429); 
    --chart-5: oklch(0.769 0.188 70.08); 
    --radius: 0.625rem;; 
    --sidebar: oklch(0.985 0 0); 
    --sidebar-foreground: oklch(0.145 0 0); 
    --sidebar-primary: oklch(0.205 0 0); 
    --sidebar-primary-foreground: oklch(0.985 0 0); 
    --sidebar-accent: oklch(0.97 0 0); 
    --sidebar-accent-foreground: oklch(0.205 0 0); 
    --sidebar-border: oklch(0.922 0 0); 
    --sidebar-ring: oklch(0.87 0 0);
}
html, body {
    background-color: oklch(93.43% 0.021 79.09);
}
/*
  ---break---
*/
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}
/*
  ---break---
*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
/*
  ---break---
*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}